.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1200;
}

.padding-top-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
