<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <!-- Navbar routes, defined in component -->
    <mat-nav-list *ngFor="let item of navItems">
      <h3 mat-subheader
          *ngIf="item.name">{{item.name}}</h3>
      <a mat-list-item
         [routerLink]="child.goto"
         *ngFor="let child of item.children">
        {{child.name}}
        <div class="spacer"></div>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Navbar -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Admin Innovación Docente</span>
      <span class="spacer"></span>
      <button mat-icon-button
              (click)="openBottomSheet()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Main content -->
    <div class="container-fluid padding-top-bottom">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
