.login-card {
  width: 500px;
  margin: 10px;

  @media (max-width: 576px) {
    width: 100%;
  }
}

mat-form-field {
  display: block;
}

button {
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center
}

.full-center {
  height: 100%;
  width: 100%;
}
