<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <!-- title -->
      <mat-panel-title>Nuevo Encuentro</mat-panel-title>
    </mat-expansion-panel-header>
    <!-- content -->
    <ng-template matExpansionPanelContent>
      <p>Ir al formulario para crear un Nuevo Encuentro</p>
      <!-- options -->
      <mat-action-row>
        <a mat-raised-button
           color="primary"
           routerLink="create"
           *ngIf="_role.canCreate">Nuevo</a>
      </mat-action-row>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let encuentro of encuentros | async">
    <!-- visible content -->
    <mat-expansion-panel-header>
      <mat-panel-title>{{encuentro.name}}</mat-panel-title>
    </mat-expansion-panel-header>

    <!-- expanded content -->
    <ng-template matExpansionPanelContent>
      <p *ngIf="encuentro.creator"><b>Autor:</b> {{encuentro.creator}}</p>
      <p *ngIf="encuentro.creator"><b>Fecha:</b> {{encuentro.date}}</p>
      <p *ngIf="encuentro.guests"><b>Invitados:</b> {{encuentro.guests.length}}</p>
      <p *ngIf="encuentro.description">{{encuentro.description}}</p>
      <!-- options -->
      <mat-action-row>
        <button mat-button
                color="warn"
                (click)="delete(encuentro.id)"
                *ngIf="_role.canDelete">Eliminar</button>
        <button mat-button
                [routerLink]="['create']"
                [queryParams]="{'id':encuentro.id}"
                color="primary"
                *ngIf="_role.canEdit">Editar</button>
      </mat-action-row>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
