<form [formGroup]="bannerCursoFormGroup">
  <mat-vertical-stepper [linear]="true"
                        #stepper>
    <!-- name -->
    <mat-step>
      <ng-template matStepLabel>Nombre del Banner</ng-template>
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput
               type="text"
               formControlName="name"
               required>
        <mat-error *ngIf="name.hasError('required')">
          El nombre es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button
                color="primary"
                matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <!-- upload banner -->
    <mat-step>
      <ng-template matStepLabel>Imagen(banner)</ng-template>
      <id-upload-file path="/formacion-docente/programa-formacion/banner-cursos"
                      type="imagen"
                      label="Url Tipo Curso"
                      errorMessage="La url es requerida"
                      [formControlChild]="url"
                      required></id-upload-file>
      <div class="button-row">
        <button mat-button
                matStepperPrevious>Anterior</button>
        <button mat-raised-button
                color="primary"
                matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <!-- final, submit -->
    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      <p>
        Presiona guardar para continuar, y regresar a la pagina anterior
      </p>

      <div class="button-row">
        <button mat-button
                matStepperPrevious>Anterior</button>
        <button mat-raised-button
                color="primary"
                (click)="submit()">Guardar</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
