<form [formGroup]="proyectoFormGroup">
  <mat-vertical-stepper [linear]="!shouldUpdate"
                        class="mat-elevation-z8"
                        #stepper>
    <!-- name -->
    <mat-step>
      <ng-template matStepLabel>Nombre de la propuesta</ng-template>
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput
               type="text"
               formControlName="name"
               required>
        <mat-error *ngIf="name.hasError('required')">
          El nombre es requerido
        </mat-error>
      </mat-form-field>
      <id-stepper-form [canBack]="false"></id-stepper-form>
    </mat-step>

    <!-- coordinator -->
    <mat-step>
      <ng-template matStepLabel>Coordinador de la propuesta</ng-template>
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput
               type="text"
               formControlName="coordinator"
               required>
        <mat-error *ngIf="coordinator.hasError('required')">
          El nombre del cordinador es requerido
        </mat-error>
      </mat-form-field>
      <id-stepper-form></id-stepper-form>
    </mat-step>

    <!-- Modality -->
    <mat-step>
      <ng-template matStepLabel>Modalidad</ng-template>
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-label>Modalidad</mat-label>
        <input matInput
               type="text"
               formControlName="modality">
      </mat-form-field>
      <id-stepper-form></id-stepper-form>
    </mat-step>

    <!-- imagen -->
    <mat-step>
      <ng-template matStepLabel>Imagen del Proyecto</ng-template>
      <id-upload-file [path]="getUploadPath"
                      type="img"
                      label="Url imagen"
                      [formControlChild]="img"></id-upload-file>
      <id-stepper-form></id-stepper-form>
    </mat-step>

    <!-- infografic -->
    <mat-step>
      <ng-template matStepLabel>Infografia del Proyecto</ng-template>
      <id-upload-file [path]="getUploadPath"
                      type="infografic"
                      label="Url Infografia"
                      [formControlChild]="infografic"></id-upload-file>
      <id-stepper-form></id-stepper-form>
    </mat-step>

    <!-- videoID -->
    <mat-step>
      <ng-template matStepLabel>VideoID</ng-template>
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-label>Id del video</mat-label>
        <input matInput
               type="text"
               formControlName="videoID">
      </mat-form-field>
      <id-stepper-form></id-stepper-form>
    </mat-step>

    <!-- Area -->
    <mat-step>
      <ng-template matStepLabel>Área</ng-template>
      <p><b>Recomendación:</b> Seleccione al menos uno</p>
      <form formGroupName="area">
        <section class="checkbox-section">
          <mat-checkbox color="primary"
                        formControlName="tecnica"
                        class="margin-right">Área Técnica</mat-checkbox>
          <mat-checkbox color="primary"
                        formControlName="biologica"
                        class="margin-right">Área Biológica y Biomédica</mat-checkbox>
          <mat-checkbox color="primary"
                        formControlName="administrativa"
                        class="margin-right">Área Administrativa</mat-checkbox>
          <mat-checkbox color="primary"
                        formControlName="sociohumanistica"
                        class="margin-right">Área Sociohumanística</mat-checkbox>
        </section>
      </form>
      <id-stepper-form></id-stepper-form>
    </mat-step>

    <!-- subject -->
    <mat-step>
      <ng-template matStepLabel>Asignatura</ng-template>
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-label>Asignatura</mat-label>
        <input matInput
               type="text"
               formControlName="subject">
      </mat-form-field>
      <id-stepper-form></id-stepper-form>
    </mat-step>

    <!-- strategicLine -->
    <mat-step>
      <ng-template matStepLabel>Línea estratégica que se desarrollará en la propuesta</ng-template>
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-label>Línea estratégica</mat-label>
        <input matInput
               type="text"
               formControlName="strategicLine">
      </mat-form-field>
      <id-stepper-form></id-stepper-form>
    </mat-step>


    <!-- type -->
    <mat-step>
      <ng-template matStepLabel>Tipo de Proyecto</ng-template>
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-select [formControl]="type">
          <mat-option>--</mat-option>
          <mat-option value="proyecto-actual">Proyecto Actual</mat-option>
          <mat-option value="buena-practica">Buena Practica</mat-option>
        </mat-select>
        <mat-error *ngIf="type.hasError('required')">
          Seleccione un tipo valido
        </mat-error>
      </mat-form-field>
      <id-stepper-form></id-stepper-form>
    </mat-step>

    <!-- period -->
    <mat-step>
      <ng-template matStepLabel>Período académico de ejecución.</ng-template>
      <div formArrayName="periods">
        <div *ngFor="let period of periods.controls; let i=index"
             [formGroupName]="i">
          <!-- period name -->
          <mat-form-field appearance="outline"
                          class="full-width">
            <mat-label>Nombre del Periodo</mat-label>
            <input matInput
                   type="text"
                   formControlName="name"
                   required>
            <mat-error *ngIf="periodName(i).hasError('required')">
              El periodo es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="button-row">
        <button mat-button
                color="warn"
                (click)="removePeriod()">Eliminar ultimo Periodo</button>
        <button mat-button
                color="primary"
                (click)="addPeriod()">Añadir Periodo</button>
      </div>
      <id-stepper-form></id-stepper-form>
    </mat-step>

    <!-- participants -->
    <mat-step>
      <ng-template matStepLabel>Datos de los docentes que participan en la propuesta</ng-template>
      <div formArrayName="participants">
        <div *ngFor="let participant of participants.controls; let i=index"
             [formGroupName]="i">
          <!-- participant name -->
          <mat-form-field appearance="outline"
                          class="full-width">
            <mat-label>Nombre del Docente</mat-label>
            <input matInput
                   type="text"
                   formControlName="name"
                   required>
            <mat-error *ngIf="participantName(i).hasError('required')">
              El nombre es requerido
            </mat-error>
          </mat-form-field>

          <!-- participant department -->
          <mat-form-field appearance="outline"
                          class="full-width">
            <mat-label>Departamento del Docente</mat-label>
            <input matInput
                   type="text"
                   formControlName="department">
          </mat-form-field>

          <!-- participant subject -->
          <mat-form-field appearance="outline"
                          class="full-width">
            <mat-label>Asignatura del Docente</mat-label>
            <input matInput
                   type="text"
                   formControlName="subject">
          </mat-form-field>

          <!-- participant department -->
          <mat-form-field appearance="outline"
                          class="full-width">
            <mat-label>Correo Electrónico del Docente</mat-label>
            <input matInput
                   type="text"
                   formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <div class="button-row">
        <button mat-button
                color="warn"
                (click)="removeParticipant()">Eliminar ultimo Docente</button>
        <button mat-button
                color="primary"
                (click)="addParticipant()">Añadir Docente</button>
      </div>
      <id-stepper-form></id-stepper-form>
    </mat-step>

    <!-- Documents -->
    <mat-step>
      <ng-template matStepLabel>Archivos Descargables
      </ng-template>
      <div formArrayName="documents">
        <div *ngFor="let document of documents.controls; let i=index"
             [formGroupName]="i">
          <id-upload-file label="Contenido descargable"
                          [path]="getUploadPath"
                          errorMessage="El archivo es requerido"
                          [formControlChild]="documentUrl(i)"
                          required></id-upload-file>
        </div>
      </div>
      <div class="button-row">
        <button mat-button
                color="warn"
                (click)="removeDocument()">Eliminar ultimo Documento</button>
        <button mat-button
                color="primary"
                (click)="addDocument()">Añadir Documento</button>
      </div>
      <id-stepper-form></id-stepper-form>
    </mat-step>

    <!-- final part -->
    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      <p>
        Presiona guardar para continuar, y regresar a la pagina anterior
      </p>
      <id-stepper-form continueMessage="Guardar"
                       [continue]="submitCallback"></id-stepper-form>
    </mat-step>
  </mat-vertical-stepper>
</form>
