<!-- filter -->
<mat-form-field appearance="outline"
                class="full-width">
  <mat-label>Filtro</mat-label>
  <input matInput
         placeholder="Ingrese el nombre del tip que desea buscar"
         (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<!-- table -->
<div class="mat-elevation-z8">
  <div class="overflow">
    <table mat-table
           [dataSource]="tipsSource">

      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Nombre </th>
        <td mat-cell
            *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- creator Column
      <ng-container matColumnDef="creator">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Autor </th>
        <td mat-cell
            *matCellDef="let row"> {{row.creator}} </td>
      </ng-container> -->

      <!-- edited Column -->
      <ng-container matColumnDef="edited">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> Ultima edición </th>
        <td mat-cell
            *matCellDef="let row"> {{row.edited|timestampDate:true}} </td>
      </ng-container>

      <!-- postulationDate Column -->
      <ng-container matColumnDef="link">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header> link </th>
        <td mat-cell
            *matCellDef="let row"> <a [href]="row.link"
             target="_blank">Link...</a></td>
      </ng-container>

      <!-- options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header></th>
        <td mat-cell
            *matCellDef="let row">
          <mat-action-row>
            <button mat-button
                    color="warn"
                    (click)="delete(row.id)"
                    *ngIf="_role.canDelete">Eliminar</button>
            <button mat-button
                    [routerLink]="['nuevo-tip']"
                    [queryParams]="{'id':row.id}"
                    color="primary"
                    *ngIf="_role.canEdit">Editar</button>
          </mat-action-row>
        </td>
      </ng-container>

      <!-- other -->
      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
  <mat-paginator pageSize=15></mat-paginator>
</div>
