<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <!-- title -->
      <mat-panel-title>Nuevo Encuentro</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Ir al formulario para crear un Nuevo Encuentro</p>
    <!-- options -->
    <mat-action-row>
      <a mat-raised-button
         color="primary"
         routerLink="create">Nuevo</a>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let encuentro of encuentros | async">
    <mat-expansion-panel-header>
      <!-- title -->
      <mat-panel-title>{{encuentro.title}}</mat-panel-title>
    </mat-expansion-panel-header>
    <!-- expanded content -->
    <p><small><b>Autor:</b> {{encuentro.author}}</small></p>
    <p> <small><b>Fecha:</b> {{getDate(encuentro.date)}}</small></p>
    <p>{{encuentro.description}}</p>
    <!-- options -->
    <mat-action-row>
      <button mat-button
              color="warn"
              (click)="delete(encuentro.id)">Eliminar</button>
      <button mat-button
              color="primary">Editar</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
