<mat-vertical-stepper [linear]="true"
                      #stepper>
  <!-- first part -->
  <mat-step [stepControl]="headFormGroup">
    <form [formGroup]="headFormGroup">
      <ng-template matStepLabel>Nombre e Imagen</ng-template>
      <!-- title -->
      <mat-form-field appearance="outline"
                      class="block">
        <mat-label>Nombre del Encuentro</mat-label>
        <input matInput
               type="text"
               formControlName="title">
        <mat-error *ngIf="title.hasError('required')">
          El nombre es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <!-- url img -->
      <mat-form-field appearance="outline"
                      class="block">
        <mat-label>Link de la Imagen</mat-label>
        <input matInput
               type="text"
               formControlName="img">
        <mat-icon matSuffix>link</mat-icon>
        <mat-error *ngIf="img.hasError('required')">
          La url es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>

      <!-- actions -->
      <button mat-raised-button
              color="primary"
              matStepperNext>Siguiente</button>
    </form>
  </mat-step>

  <!-- description part-->
  <mat-step [stepControl]="descriptionFormGroup">
    <form [formGroup]="descriptionFormGroup">
      <ng-template matStepLabel>Descripción</ng-template>
      <!-- description -->
      <mat-form-field appearance="outline"
                      class="block">
        <textarea matInput
                  type="text"
                  class="big-text-area"
                  formControlName="description"></textarea>
        <mat-error *ngIf="description.hasError('required')">
          La descripción es <strong>requerida</strong>
        </mat-error>
        <mat-error *ngIf="description.hasError('minlength')">
          La descripción necesita al menos <strong>{{description.errors.minlength.requiredLength}}
            caracteres</strong>
        </mat-error>
      </mat-form-field>

      <!-- actions -->
      <button mat-button
              matStepperPrevious
              class="margin-btn">Anterior</button>
      <button mat-raised-button
              color="primary"
              matStepperNext>Siguiente</button>
    </form>
  </mat-step>

  <!-- guests part-->
  <mat-step [stepControl]="guestsFormGroup">
    <form [formGroup]="guestsFormGroup">
      <ng-template matStepLabel>Invitados</ng-template>
      <!-- guests -->
      <div formArrayName="guests">
        <div *ngFor="let guest of guests.controls; let i=index"
             [formGroupName]="i">
          <!-- name -->
          <mat-form-field appearance="outline"
                          class="block">
            <mat-label>Nombre del Invitado</mat-label>
            <input matInput
                   type="text"
                   formControlName="name">

            <mat-error *ngIf="guestName(i).hasError('required')">
              El nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>

          <!-- description -->
          <mat-form-field appearance="outline"
                          class="block">
            <mat-label>Descripción</mat-label>
            <textarea matInput
                      class=" small-text-area"
                      type="text"
                      formControlName="description"></textarea>
            <mat-error *ngIf="guestDescription(i).hasError('required')">
              La descripción es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- actions -->
      <div class="full-width margin-bottom">
        <button mat-button
                color="warn"
                class="margin-btn"
                (click)="removeGuest()">Eliminar ultimo Invitado</button>
        <button mat-button
                color="primary"
                (click)="addGuest()">Añadir Invitado</button>
      </div>
      <div class="full-width">
        <button mat-button
                class="margin-btn"
                matStepperPrevious>Anterior</button>
        <button mat-raised-button
                color="primary"
                matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>

  <!-- final part -->
  <mat-step>
    <ng-template matStepLabel>Finalizar</ng-template>
    <p>
      Presiona guardar los cambios, y regresar a la pagina anterior
    </p>
    <div>
      <button mat-button
              class="margin-btn"
              matStepperPrevious>Anterior</button>
      <button mat-button
              color="warn"
              class="margin-btn"
              (click)="stepper.reset()">Reiniciar</button>
      <button mat-raised-button
              color="primary"
              (click)="submit()">Guardar</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
