<form [formGroup]="encuentroFormGroup">
  <mat-vertical-stepper [linear]="!shouldUpdate"
                        class="mat-elevation-z8"
                        #stepper>
    <!-- first part -->
    <mat-step>
      <ng-template matStepLabel>Nombre del Encuentro</ng-template>
      <!-- name -->
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput
               type="text"
               formControlName="name"
               required>
        <mat-error *ngIf="name.hasError('required')">
          El nombre es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button
                color="primary"
                matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <!-- description part-->
    <mat-step>
      <ng-template matStepLabel>Imagen del Encuentro</ng-template>
      <!-- url img -->
      <id-upload-file [path]="uploadPath"
                      type="imagen"
                      label="Url de la Imagen"
                      errorMessage="La url es requerida"
                      [formControlChild]="img"
                      required></id-upload-file>
      <div class="button-row">
        <button mat-button
                matStepperPrevious>Anterior</button>
        <button mat-raised-button
                color="primary"
                matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <!-- Banner Part -->
    <mat-step>
      <ng-template matStepLabel>Banner del Encuentro</ng-template>
      <!-- url img -->
      <id-upload-file [path]="uploadPath"
                      type="imagen"
                      label="Url del Banner"
                      [formControlChild]="banner"></id-upload-file>
      <div class="button-row">
        <button mat-button
                matStepperPrevious>Anterior</button>
        <button mat-raised-button
                color="primary"
                matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <!-- Date part-->
    <mat-step>
      <ng-template matStepLabel>Fecha del Encuentro</ng-template>
      <id-timestamp-picker errorMessage="La fecha es requerida"
                           [formControlChild]="date"></id-timestamp-picker>
      <div class="button-row">
        <button mat-button
                matStepperPrevious>Anterior</button>
        <button mat-raised-button
                color="primary"
                matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <!-- postulations part-->
    <mat-step>
      <ng-template matStepLabel>Fecha fin de Postulaciones</ng-template>
      <id-timestamp-picker errorMessage="La fecha de postulaciones es requerida"
                           [formControlChild]="postulations"></id-timestamp-picker>
      <div class="button-row">
        <button mat-button
                matStepperPrevious>Anterior</button>
        <button mat-raised-button
                color="primary"
                matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <!-- description -->
    <mat-step>
      <ng-template matStepLabel>Descripción</ng-template>
      <mat-form-field appearance="outline"
                      class="full-width">
        <textarea matInput
                  type="text"
                  class="big-text-area"
                  formControlName="description"
                  ></textarea>
        <mat-error *ngIf="description.hasError('minlength')">
          La descripción necesita al menos <strong>{{description.errors.minlength.requiredLength}}
            caracteres</strong>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button mat-button
                matStepperPrevious>Anterior</button>
        <button mat-raised-button
                color="primary"
                matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <!-- guests -->
    <mat-step>
      <ng-template matStepLabel>Invitados</ng-template>
      <div formArrayName="guests">
        <div *ngFor="let guest of guests.controls; let i=index"
             [formGroupName]="i">
          <!-- name -->
          <mat-form-field appearance="outline"
                          class="full-width">
            <mat-label>Nombre del Invitado</mat-label>
            <input matInput
                   type="text"
                   formControlName="name"
                   required>
            <mat-error *ngIf="guestName(i).hasError('required')">
              El nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
          <!-- description -->
          <mat-form-field appearance="outline"
                          class="full-width">
            <mat-label>Descripción</mat-label>
            <textarea matInput
                      class=" small-text-area"
                      type="text"
                      formControlName="description"
                      required></textarea>
            <mat-error *ngIf="guestDescription(i).hasError('required')">
              La descripción es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="button-row">
        <button mat-button
                color="warn"
                (click)="removeGuest()">Eliminar ultimo Invitado</button>
        <button mat-button
                color="primary"
                (click)="addGuest()">Añadir Invitado</button>
      </div>
      <div class="button-row">
        <button mat-button
                matStepperPrevious>Anterior</button>
        <button mat-raised-button
                color="primary"
                matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <!-- Participation -->
    <mat-step>
      <ng-template matStepLabel>Participante del Encuentro</ng-template>
      <!-- name -->
      <mat-form-field appearance="outline"
                      class="full-width">
        <mat-label>Participa</mat-label>
        <input matInput
               type="text"
               formControlName="participation">
      </mat-form-field>
      <div class="button-row">
        <button mat-button
                matStepperPrevious>Anterior</button>
        <button mat-raised-button
                color="primary"
                matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <!-- final part -->
    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      <p>
        Presiona guardar para continuar, y regresar a la pagina anterior
      </p>
      <div class="button-row">
        <button mat-button
                matStepperPrevious>Anterior</button>
        <button mat-raised-button
                color="primary"
                (click)="submit()">Guardar</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
